.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 100px 0;
}

.winterInfo {
  width: 500px;
}

.winterInfo h2 {
  font-family: 'Lato', sans-serif;
  font-size: 46px;
  padding: 0;
  margin: 30px 0;
}

.winterInfo p {
  font-size: 22px;
  margin: 30px 0;
  color: #636363;
  width: 80%;
}

.winterInfo button {
  width: 180px;
  height: 56px;
  color: white;
  background-color: #272727;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.winterRight p {
  font-size: 16px;
  color: #585858;
}

.winterPics {
  display: flex;
}

.winterPics .large {
  margin-right: 5px;
  max-width: 400px;
}

.winterPics .small {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.winterPics .small > img:nth-child(1) {
  margin-bottom: 5px;
}

@media only screen and (max-width: 800px) {
  .container {
    margin: 300px auto 100px;
  }

  .winterPics .large {
    margin-right: 5px;
    max-width: 300px;
  }

  .winterPics .small {
    display: flex;
    flex-direction: column;
    max-width: 150px;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    background: linear-gradient(0deg, #f7f8fb, #f7f8fb), #fdf4ed;
    height: fit-content;
    padding: 50px 0;
    flex-direction: column-reverse;
  }

  .winterInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .winterInfo h2 {
    margin-bottom: 0;
  }
}
