.container {
  position: relative;
}

.backgroundImg {
  width: 100%;
  height: calc(100vh - 40px);
  object-fit: cover;
}

.callToAction {
  position: absolute;
  top: 55%;
  left: 75%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.callToAction h1 {
  color: white;
  font-size: 90px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.callToAction img {
  width: 136px;
  height: 69px;
  margin-top: -30px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text * {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.part1 {
  font-size: 32px;
  margin-right: 20px;
}

.part2 {
  font-size: 145px;
}

.part3 {
  font-size: 90px;
  line-height: 162px;
}

.part4 {
  font-size: 40px;
  line-height: 48px;
}

.callToAction button {
  width: 190px;
  height: 54px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .callToAction {
    background: linear-gradient(to bottom, #ffffffcc, #eef3ffce);
    border-radius: 10px;
    width: 80%;
    height: 400px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .callToAction h1 {
    color: black;
    font-size: 60px;
  }

  .callToAction img {
    width: 100px;
    height: 50px;
  }

  .part1 {
    font-size: 20px;
  }

  .part2 {
    font-size: 85px;
  }

  .part3 {
    font-size: 65px;
  }

  .part4 {
    font-size: 34px;
  }

  .text * {
    color: black;
  }

  .callToAction button {
    background-color: black;
    color: white;
  }
}
