.container {
  display: flex;
  position: relative;
  margin: 100px auto;
  height: 100vh;
  overflow-y: hidden;
}

.gobi {
  width: 65%;
  height: 100vh;
  object-fit: cover;
}

.info {
  width: 35%;
  height: 100vh;
  background-color: #f5f7f5;
  padding: 70px 50px;
}

.info * {
  margin: 35px 0;
}

.info h2,
.info p {
  font-family: 'Lato', sans-serif;
}

.info h2 {
  font-size: 34px;
  color: #1f1f1f;
  padding: 0;
  margin: 0;
}

.info p {
  font-size: 16px;
  color: #353535;
  line-height: 23px;
}

.info button {
  width: 170px;
  height: 56px;
  background-color: #272727;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.images {
  display: flex;
  position: absolute;
  bottom: 5%;
  right: 0%;
}

.images img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 0 15px;
}
