.container {
  margin: 100px auto;
  width: 600px;
}

.container * {
  color: #4f5255;
}

.container h2 {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin: 0;
}

.subtitle {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.form {
  background-color: #f5f7f6;
  width: 100%;
  padding-left: 24px;
  margin-top: 36px;
}

.form input {
  background-color: transparent;
  border: none;
  width: calc(100% - 165px);
  border-radius: 10px;
  outline: none;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.form button {
  width: 160px;
  height: 50px;
  background-color: #272727;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.info {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  width: 550px;
  margin: 16px auto;
  line-height: 13px;
}
